body {
    background: #242933;
    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 0;
}
 div{
    background-color: #2F3644;
    border-radius: 5px;
    border: 2px solid #3E445B;
    width: 450px;
    height: 760px;
    box-shadow: 10px 5px 5px black;
     }
    

   .titulo{
    font-weight: 600;
    color: #ACBAE1;
    font-size: 30px;
    padding: 15px 20px;
    text-shadow: 5px 5px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

   }

   .formu{
    position: absolute; 
    top:87px;
    }
    .txtNome, .txtEmail, .txtCpf, .txtTel {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;
    height: 35px;
    font-size: 14px;
    width: 90%;
    
 
    }
    .txtEstado{
        border: 2px solid #3E445B;
        border-radius: 5px;
        outline: 0;
        height: 35px;
        font-size: 14px;
        width: 40%;
    }

    .lblNome, .lblEmail, .lblCpf, .lblTel, .lblFru, .lblMaca, .lblBanana, .lblPera, .lblRev, .lblPhp, .lblHtml, .lblJs, .lblMsg {
        display: inline-block;
        margin-bottom: 5px;
        color: #828CAD;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}
    .btnEnviar{
        background-color: #6C63FF;
        border-radius: 5px;
        color: #fff;
        padding: 15px;
        font-size: 15px;
        font-weight: 600;
        width: 55%;
        margin-top: 5px;
        cursor: pointer;
        border:none;
    }